.sidepanel {
    height: 100%;
    width: 33%;
    float: left;
    background-color: #333;
    position: absolute;
    padding-left: 2em;
			  
}
.infopane {
    height: 65%;
    width: 55%;
    padding-top: 1em;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    position: absolute;
    background-color: #333;
    left: 37%;
    float: left;
}

body {
    background-color: #222;
    color: white;
    padding: 0px;
    margin: 0px;
    height: 100px;
    margin-bottom: %200;
}

#history {
    margin-top: 2em;
    margin-bottom: 1em;
    overflow: auto;
    height: 80%;

}

#connection {
    color: #B22222;
}

.command {
    
	
}